<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tayyab Javed.com</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
    <div class="bg-black h-screen w-screen">
        <div class="p-12 container mx-auto flex items-center justify-center flex-col">
          <p class="text-xl text-white ">This website is of <span class="text-bold italic">Tayyab Javed</span> Programmer,Developer and Hacker</p>
      
          <form action="/processUpdate" method="POST" class="mt-12 w-full">
            <input name="documentid" class="w-full mb-2 text-center" type="text" value="{{.DocID}}"/>
            <p class="text-white">Don't Change value ^</p>
            <input value="{{.Title}}" class="pl-2 w-full h-12 rounded-md" type="text" placeholder="your title" name="title"/>
            <div class="bg-white p-2 mt-6">
                <textarea  name="body" id="textarea"></textarea>
            </form>
            <input class="bg-black p-2 text-white cursor-pointer shadow-xl rounded-md" type="submit" value="update"/>
         
        </form>
      
        </div>
        </div>
        <script>
            var simplemde = new SimpleMDE({ element: document.getElementById("textarea") });
            simplemde.value({{.Body}});

            var title={{.Title}}
            console.log(title)
            console.log({{.DocID}})

            </script>
</body>
</html>