{{define "title"}}
Tayyabs-{{.Data.Name}}
{{end}}

{{define "content"}}

<a href="/portfolio" class="block"><div class="h-24 pl-12 cursor-pointer bg-white flex items-center">
    <svg class="w-12 h-12 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path></svg>
    <p class="text-black text-2xl">Back</p>
</div></a>

<div class="bg-white flex flex-col  " style="height:500px">
    <h1 class="text-black text-5xl mt-24">{{.Data.Name}}</h1>
    <div class="flex items-center mt-2 justify-center">
    <p class="text-black mt-2 text-3xl w-2/3 text-center">{{.Data.Subline}}</p>
    </div>

    {{if .Data.IsSample}}
    <div class="flex items-center justify-center mt-24">
    <a target="_blank" href="{{.Data.SampleLink}}">
    <button class="hover:bg-blue-300 bg-blue-600 h-12 rounded-md w-96">
        Visit Website
    </button>
    </a>
    </div>
    {{end}}

</div>

<div style="height:4000px">

    {{if.Data.IsScreenShot}}
    <div class="flex flex-wrap items-center justify-center">
    {{range .Data.Screenshots}}
  <div class="p-10">  
    <!--Card 1-->
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <img class="w-full rounded-md" src="{{.}}" alt="Mountain">  
    </div>
  </div>
    {{end}}
    </div>
    {{end}}
    

</div>

{{end}}